bcrypt==3.2.2
cffi==1.15.1
click==8.0.4
dataclasses==0.8
dnspython==2.2.1
email-validator==1.2.1
Flask==2.0.3
Flask-Admin==1.6.0
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-WTF==1.0.1
idna==3.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mongoengine==0.24.2
pkg-resources==0.0.0
pycparser==2.21
PyJWT==2.4.0
pymongo==4.1.1
python-dotenv==0.20.0
six==1.16.0
typing-extensions==4.1.1
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
